fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
aiosqlite
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
celery[redis]
redis[asyncio]
scikit-learn
shap
joblib
pandas
numpy
imbalanced-learn
ibm-cos-sdk
ibm-platform-services
boto3
python-dotenv
httpx
